/**
 *  Shortcode: Overview
 */

span.op-period-time {
    display:        block;
}

td.op-set-description {
    font-size:      1.5em;
}

tr.op-row-day.highlighted td,
tr.op-row-day.highlighted th {
    color:          green;
}

span.op-period-time.highlighted {
    color:          green;
}

span.op-closed {
    color:          red;
}