.widget .extended-settings .collapse-toggle {
  cursor: pointer;
}
.ui-timepicker {
  background: #444444;
  margin-top: 5px;
}
.ui-timepicker .ui-timepicker-table .ui-timepicker-title {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}
.ui-timepicker .ui-timepicker-table .ui-timepicker-hours {
  border-right: 1px solid #ffffff;
}
.ui-timepicker .ui-timepicker-table table.ui-timepicker th.periods {
  color: white;
  font-weight: bold;
  padding-right: 5px;
}
.ui-timepicker .ui-timepicker-table table.ui-timepicker td.ui-timepicker-hour-cell a,
.ui-timepicker .ui-timepicker-table table.ui-timepicker td.ui-timepicker-minute-cell a {
  color: white;
  cursor: pointer;
  display: inline-block;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid transparent;
}
.ui-timepicker .ui-timepicker-table table.ui-timepicker td.ui-timepicker-hour-cell a:hover,
.ui-timepicker .ui-timepicker-table table.ui-timepicker td.ui-timepicker-minute-cell a:hover {
  border-color: #0074a2;
}
.ui-timepicker .ui-timepicker-table table.ui-timepicker td.ui-timepicker-hour-cell a.ui-state-active,
.ui-timepicker .ui-timepicker-table table.ui-timepicker td.ui-timepicker-minute-cell a.ui-state-active,
.ui-timepicker .ui-timepicker-table table.ui-timepicker td.ui-timepicker-hour-cell a.ui-state-active:hover,
.ui-timepicker .ui-timepicker-table table.ui-timepicker td.ui-timepicker-minute-cell a.ui-state-active:hover {
  background: #0074a2;
  border-color: transparent;
}
.ui-datepicker {
  background: #444444;
  margin-top: 5px;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
}
.ui-datepicker .ui-datepicker-header a.ui-datepicker-prev,
.ui-datepicker .ui-datepicker-header a.ui-datepicker-next {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  top: 0;
  color: transparent;
  width: 22px;
}
.ui-datepicker .ui-datepicker-header a.ui-datepicker-prev:before,
.ui-datepicker .ui-datepicker-header a.ui-datepicker-next:before {
  color: #ffffff;
  background: #0074a2;
  display: inline-block;
  padding: 2px 7px;
}
.ui-datepicker .ui-datepicker-header a.ui-datepicker-prev {
  left: 5px;
}
.ui-datepicker .ui-datepicker-header a.ui-datepicker-prev:before {
  content: '<';
}
.ui-datepicker .ui-datepicker-header a.ui-datepicker-next {
  right: 5px;
}
.ui-datepicker .ui-datepicker-header a.ui-datepicker-next:before {
  content: '>';
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
  display: block;
  text-align: center;
  margin-top: 5px;
  color: #ffffff;
}
.ui-datepicker .ui-state-default {
  display: inline-block;
  width: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border: 1px solid transparent;
}
.ui-datepicker .ui-state-default:hover {
  border-color: #0074a2;
}
.ui-datepicker .ui-state-default.ui-state-active {
  background: #0074a2;
}
.ui-datepicker .ui-datepicker-unselectable span.ui-state-default {
  background: #333333;
  cursor: default;
}
.ui-datepicker .ui-datepicker-unselectable span.ui-state-default:hover {
  border-color: transparent;
}
table.form-opening-hours {
  width: 100%;
  max-width: 500px;
  margin: auto;
}
table.form-opening-hours tbody td {
  padding-left: 0;
  padding-right: 0;
}
table.form-opening-hours tbody td.col-times {
  width: 60%;
}
table.form-opening-hours tbody td.col-times table.period-table {
  width: 100%;
}
table.form-opening-hours tbody td.col-times table.period-table tr.period .input-timepicker {
  width: 70px;
  box-shadow: none;
  background: #efefef;
  border: 1px solid #cccccc;
  text-align: center;
}
table.form-opening-hours tbody td.col-times table.period-table tr.period .col-time-start,
table.form-opening-hours tbody td.col-times table.period-table tr.period .col-time-end {
  width: 40%;
  text-align: center;
}
table.form-opening-hours tbody td.col-times table.period-table tr.period .col-delete-period {
  width: 20%;
  text-align: left;
}
table.form-opening-hours tbody td.col-times table.period-table tr.period .col-delete-period .delete-period {
  color: #ff0000;
  border: 1px solid #ff0000;
  background: #fbe9e9;
  box-shadow: none;
  padding-top: 3px;
}
table.form-opening-hours tbody td.col-name {
  width: 20%;
  font-weight: bold;
}
table.form-opening-hours tbody td.col-options {
  width: 10%;
}
table.form-opening-hours tbody td.col-options .add-period {
  color: #008000;
  border: 1px solid #008000;
  background: #bef4be;
  box-shadow: none;
  padding-top: 4px;
}
@media (max-width: 782px) {
  table.form-opening-hours td,
  table.form-opening-hours th {
    display: table-cell;
  }
}
@media (max-width: 530px) {
  table.form-opening-hours .input-timepicker {
    font-size: 12px;
  }
  table.form-opening-hours .button {
    padding: 3px 5px;
  }
}
#op-paypal-select-amount {
  display: inline-block;
  margin-top: -35px;
  margin-right: 15px;
}
#op-paypal-donation-submit {
  cursor: pointer;
  display: inline-block;
}
table.op-holidays {
  width: 100%;
}
table.op-holidays .col-name {
  width: 50%;
}
table.op-holidays .col-date-start,
table.op-holidays .col-date-end {
  width: 20%;
}
table.op-holidays .col-remove {
  width: 10%;
}
span.op-period-time {
  display: block;
}
td.op-set-description {
  font-size: 1.5em;
}
tr.op-row-day.highlighted td,
tr.op-row-day.highlighted th {
  color: green;
}
span.op-period-time.highlighted {
  color: green;
}
span.op-closed {
  color: red;
}
span.op-open {
  color: green;
}
span.op-next-period {
  display: block;
}
.op-holiday.highlighted td {
  color: green;
}
