[submodule "includes/admin-notice-helper"]
	path = includes/admin-notice-helper
	url = https://github.com/iandunn/admin-notice-helper.git
[submodule "includes/wp-detail-fields"]
	path = includes/wp-detail-fields
	url = https://github.com/janizde/WP-Detail-Fields.git
