<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="OpeningHours">
			<directory suffix="Test.php">./tests/OpeningHours/</directory>
		</testsuite>
	</testsuites>
</phpunit>
