span.op-period-time {
  display: block;
}

.op-list-overview .highlighted {
  color: $color-green;
}

span.op-period-time.highlighted {
  color: $color-green;
}

span.op-closed {
  color: $color-red;
}

span.op-open {
  color: $color-green;
}

span.op-next-period {
  display: block;
}